/*cascading stylesheet 덮어씌우다 */
/* 선택자 (selector) */

* {
box-sizing: border-box;
}

header{
height: 170px;
}

#fixed {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
}

.relative {
  position: relative;
}
.center-align {
margin : 0 auto ;
width : 1080px;
}

#header-top {
  float: right;
  margin-top: -2px;
}

#header-top div:first-child {
  color: #888;
  letter-spacing: -1px;
  font-size: 11px;
  line-height: 22px;
}

#header-top div:nth-child(2) {
  display: inline-block;
  width: 60px;
  height: 10px;
  background-position: -264px -296px;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: 7px;
  background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);
  background-size: 442px 428px;
  margin-right: 0;
}

#header-top div:nth-child(3) {
  display: inline-block;
  width: 34px;
  height: 11px;
  background-position: -380px -199px;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: 7px;
  background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);
  background-size: 442px 428px;
}

/* >h1 자식태그 css적용 그냥 띄어쓰기하면 자손 (자식자속 구분) */


#header-search a {
  text-decoration: none;
  vertical-align: middle;
}

#header-search h1 {
  width: 125px;
  height: 95px;
  display: inline-block;
/*background-image: url(https://s.pstatic.net/static/www/mobile/edit/20221116/mobile_165114382593.png);
background-position: -5px -10px;
background-repeat: no-repeat; */

  background: url(https://s.pstatic.net/static/www/mobile/edit/20221116/mobile_165114382593.png) -5px -10px no-repeat;
  vertical-align: middle;
  position: relative;
  top: -1px;
  left: 1px;
}

#header-search h1 span {
  display: none;
}
/* #header-center h1 자손선택자*/

#header-search h2 {
  display: none;
}


#header-search fieldset {
  margin-left: 18px;
    /* padding-left: 10px; */
    /* padding-top: 12px; */
    /* padding-right: 0; */
    /* padding-bottom: 12px; */
  padding: 12px 0 12px 10px; /* 한번에 써줄수있음 시계방향으로 */ 
  border: 2px solid #03cf5d; /* hex 표기법 */
  width: 520px;
  height: 49px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
  vertical-align: top;
  width : 378px;
  height: 23px;
margin-right: 10px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Dotum, '돋음',Helvetica, "Apple SD gothic Neo", sans-serif;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header-search fieldset button {
  width: 49px;
  height: 49px;
  cursor: pointer;
  border: none;
  background-color: #19ce60;
  position: absolute;
  right: -2px;
  top: -2px;
  vertical-align: middle;
}
  
#search-keyboard {
 background-image: url(https://github.com/ZeroCho/html-css-naver/blob/master/ch5/sp_search.png?raw=true); 
 background-repeat: no-repeat;
 background-position: -33px -60px;
 width: 19px;
 height: 11px;
 display: inline-block;
 margin: 0 6px; 
 vertical-align: middle;
}

#search-history {
  background-image: url(https://github.com/ZeroCho/html-css-naver/blob/master/ch5/sp_search.png?raw=true); 
  background-repeat: no-repeat;
  background-position: -87px -60px;
  width: 9px;
  height: 4px;
  display: inline-block;
  margin: 0 6px;
  vertical-align: middle;
}


#search-image {
  width: 22px;
  height: 22px;
  display: inline-block;
  background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);
  background-position-x: -420px;
  background-position-y: -24px;
  background-size: 442px 442px;
  background-repeat: no-repeat;
}

nav {
  
  height: 46px;
  border-top: 1px solid #f1f3f6 ;
  border-bottom: 1px solid #d1d8e4;
}

nav ul {
  display: inline-block;
  margin: 0;
  padding: 16px 0 0 4px;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav li span:first-child {
  height: 16px;
  display: inline-block;
  background-image: url(https://github.com/ZeroCho/html-css-naver/blob/master/ch8/sp_nav.png?raw=true);
  background-repeat : no-repeat;
  margin-left: 10px;
}

/* 유지보수면에서는 클래스주는게 훨낫다 ~ */

nav li:first-child span:first-child {
  width: 25px;
  background-position : 0 -285px;
  margin-left: 0;

}

nav li:nth-child(2) span:first-child {
  width: 27px;
  background-position : -279px -52px;
}

nav li:nth-child(3) span:first-child {
  width: 40px;
  background-position : -100px -182px;
}

nav li:nth-child(4) span:first-child {
  width: 40px;
  background-position : -101px -156px;
}

nav li:nth-child(5) span:first-child {
  width: 26px;
  background-position : -279px -156px;
}

nav li:nth-child(6) span:first-child {
  width: 25px;
  background-position : -70px -285px;
}

nav li:nth-child(7) span:first-child{
  width: 35px;
  background-position: -125px -130px;
}

nav li:nth-child(8) span:first-child{
   padding-left: 0;
  background-position: -279px -280px;
}

nav li:nth-child(9) span:first-child{
  width: 26px;
  background-position: -128px -104px;
}

nav li:nth-child(10) span:first-child{
  width: 26px;
  background-position: -36px -259px;
}

nav li:nth-child(11) span:first-child{
  width: 39px;
  background-position: -151px -156px;
}

nav li:nth-child(12) span:first-child{
  width: 26px;
  background-position: -279px -130px;
}

nav li:nth-child(13) span:first-child{
  width: 26px;
  background-position: -234px -233px;
}

nav li:nth-child(14) span:first-child{
  width: 26px;
  background-position: -72px -259px;
}

nav li:nth-child(15) span:first-child{
  width: 13px;
  background-position: -140px -78px;
}

nav li:nth-child(16) span:first-child{
  width: 26px;
  background-position: -279px -0px;
}

nav li.more:first-child span:first-child {
  width: 55px;
  background-position: 0 -104px;
}

.nav-divider {
 display: inline-block;
  margin: 18px 16px 0;
  width: 1px;
  height: 14px;
  background: #ebeef3;

}

#search-ranking {
  position: absolute;
  top: 16px;
  right: 100px;
}

#rank-number {
  margin-top: -9px;
  color: #00ab33;
  font-size: 16px;
}

main {
  display: inline-block;
  width: 100%;
  background-color: #f2f4f7;
}

#main-centered {
  padding: 8px 10px 0;
  width: 1100px;
}

#main-ad {
  display: inline-block;
  width: 740px;
  height: 120px;
  background: #555;
}

#main-login {
  display: inline-block;
  width: 332px;
  height: 120px;
  vertical-align: top;
  background-color: white;
}

#main-ytn {
  display: inline-block;
  width: 740px;
  height: 246px;
}

#main-weather {
  display: inline-block;
  width: 332px;
  height: 142px;
}

  #main-second-ad {
    display: inline-block;
    width: 332px;
    height: 150px;
    background: #000;
  }

#main-category {
  display: inline-block;
  width: 740px;
  height: 837px;
  background: white;

}

#main-shopping {
  display: inline-block;
  width: 332px;
  height: 837px;
  background: white;

}

#main-event {
  display: inline-block;
  width: 740px;
  height: 130px;
  background: white;
  vertical-align: top;
}

#main-third-ad {
  display: inline-block;
  width: 332px;
  height: 130px;
  background: white;
}